.container
{
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: black;
    font-size: 1vw;
}

.virtual-desk
{
    position: relative;
    background: red;
    color: black;
    
    width: 100vw;
    height: 100vh;
    overflow:hidden;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.wallpaper
{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 96vh;
    background: white;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.taskbar
{
    width: 100vw;
    height: 4vh;
        
    background-image: url('../../assets/defaultTaskbar.png');

    user-select: none;
}
.taskbar-element
{
    aspect-ratio: calc(1);

    cursor: pointer;
    transition: filter 0.1s ease, transform 0.05s ease;

    height: 100%;
    width: auto;

    background-color: #707da2;

    border: 0.2vw outset;
    padding: 0vw;
    margin: 0vw;
    font-size: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;

    user-select: none;
}
.taskbar-element:hover
{
    filter: brightness(1.1);
}
.taskbar-element:active
{
    filter: brightness(0.8);
    transform: translate(0, 0.1vw);
}
.taskbar-element-icon
{
    aspect-ratio: calc(1);
    
    width: 70%;
    height: auto;

    user-select: none;
    pointer-events: none;
}
.element-background
{
    width: 100%;
    height: 100%;
    object-fit: fill;
        
    user-select: none;
    pointer-events: none;
}