.window
{
    background-color: #36365f;
        
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: center;

    user-select: none;
}
.window.dragging
{
    transition: none !important;
}
.window-content
{
    background-color: black;
    color: white;

    box-sizing: border-box;
    
    width: calc(100% - 0.5vw);
    height: calc(100% - 1.45vw);

    overflow: hidden;

    margin-bottom: .25vw;
    margin-left: .25vw;
    margin-right: .25vw;

    user-select: none;
}
.window-decorator
{
    background-color: #707da2;
    width: auto;
    height: 1.2vw;
    
    display: flex;
    flex:auto;
    flex-direction: row;
    align-items: center;

    user-select: none;
}
.window-decorator-button
{
    cursor: pointer;
    transition: filter 0.1s ease, transform 0.05s ease;

    background-color: #707da2;

    aspect-ratio: calc(1);
    height: 100%;

    border: 0.2vw outset;
    padding: 0vw;
    margin: 0vw;
    font-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.window-decorator-button:hover
{
    filter: brightness(1.1);
}
.window-decorator-button:active
{
    filter: brightness(0.8);
    transform: translate(0, 0.1vw);
}
.window-decorator_buttons
{
    aspect-ratio: calc(1);

    height: 100%;
    width: 100%;
    
    margin: 0%;

    display: flex;
    flex-direction: row-reverse;

    align-content: center;
    align-self: center;
    align-items: center;

    user-select: none;
}

.window-decorator_icon
{
    aspect-ratio: calc(1);

    height: 70%;
    padding: 0.5%;

    user-select: none;
    pointer-events: none;
}

.window-decorator_title
{
    width: 100%;
    margin-left: 0.5%;

    font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
    font-weight: bold;
    font-size: 75%;

    user-select: none;
    pointer-events: none;  
}