.container
{
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: black;
}


.virtual-desk
{
    position: relative;
    background: red;
    color: black;

    &.landscape
    {
        height: 81vh;
        width: 108vh;

        margin-left: auto;
        margin-right: auto;
        margin-top: 9.5vh;
        margin-bottom: 9.5vh;
    }
    &.portrait
    {
        height: 66vw;
        width: 88vw;

        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        margin-bottom: auto;
    }
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.wallpaper
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 95%;
    background: white;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.taskbar
{
    width: 100%;
    height: 5%;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.element-background
{
    width: 100%;
    height: 100%;
    object-fit: fill;
        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}