
.virtual-desk
{
    background: red;
    color: black;

    &.landscape
    {
        height: 81vh;
        width: 108vh;

        margin-left: auto;
        margin-right: auto;
        margin-top: 9.5vh;
        margin-bottom: 9.5vh;
    }
    &.portrait
    {
        height: 66vw;
        width: 88vw;

        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        margin-bottom: auto;
    }
}
.debug-text
{
    color: greenyellow;
    font-size: 12px;
    position: absolute;
}

.wallpaper
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 95%;
    background: white;
}

.taskbar
{
    width: 100%;
    height: 5%;
}

.element-background
{
    
    width: 100%;
    height: 100%;
    object-fit: fill;
}
