
.virtual-desk
{
    background: red;
    color: black;

    &.landscape
    {
        height: 81vh;
        width: 108vh;

        margin-left: auto;
        margin-right: auto;
        margin-top: 9.5vh;
        margin-bottom: 9.5vh;
    }
    &.portrait
    {
        height: 66vw;
        width: 88vw;

        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        margin-bottom: auto;
    }
}
.wallpaper
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: white;
}
